---
sudo: false
language: csharp
# dotnet cli require Ubuntu 14.04
sudo: required
dist: trusty

# dotnet cli require OSX 10.10
osx_image: xcode7.1

addons:
  apt:
    packages:
    - libunwind8

os:
  - osx
  - linux

env:
  matrix:
    - CLI_VERSION: Latest
      Configuration: Debug
      Framework: netcoreapp1.0
    - CLI_VERSION: Latest
      Configuration: Release
      Framework: netcoreapp1.0

before_install:
  # Download script to install dotnet cli
  - curl -L --create-dirs https://raw.githubusercontent.com/dotnet/cli/rel/1.0.0/scripts/obtain/dotnet-install.sh -o ./scripts/install.sh

  - export DOTNET_INSTALL_DIR="$PWD/.dotnetcli"

  # Install the latest versio of dotnet CLI
  - bash ./scripts/install.sh --channel "preview" --version "$CLI_VERSION" --install-dir "$DOTNET_INSTALL_DIR" --no-path

  # Add dotnet to PATH
  - export PATH="$DOTNET_INSTALL_DIR:$PATH"

install:
  - git submodule update --init --recursive
  - which dotnet;
    if [ $? -eq 0 ]; then
      echo "Using dotnet:";
      dotnet --info;
    else
      echo "dotnet.exe not found"
      exit 1;
    fi

  # Restore dependencies
  - dotnet restore

  - FrameworkLibsMoniker="netstandard1.4"

  # Build projects
  - dotnet build -c $Configuration -f $FrameworkLibsMoniker ./GeoIP2
  - dotnet build -c $Configuration -f $Framework ./GeoIP2.Benchmark
  - dotnet build -c $Configuration -f $Framework ./GeoIP2.UnitTests

script:
  # Run tests
  - cd ./GeoIP2.UnitTests
  - dotnet run -f $Framework -c $Configuration

notifications:
  email:
    on_failure: always
    on_success: change
    recipients:
      - dev-ci@maxmind.com
  slack:
    rooms:
      secure: "IsbtLth0Yv5VcmUAR2wslanuzGkKVSsGIAKhT71rCimi3QAe/02MYqZsRvgcFdwSnRsrWqdIDQ2x1Rw7YT5k7TBUfr4TL2/KnP3dwgmCyfSQojsHXlwofnWGezkgYrat7rV2HvcboFF1WXf0lENA8RzmiCi0t2BWh4dl7kdPuSs=\n"
