---
version: '1.0.{build}'

os: Visual Studio 2017

environment:
  global:
    MAXMIND_BENCHMARK_DB: $(APPVEYOR_BUILD_FOLDER)/GeoIP2.Benchmark/GeoLite2-City.mmdb
    MAXMIND_TEST_BASE_DIR: $(APPVEYOR_BUILD_FOLDER)/GeoIP2.UnitTests
  matrix:
    - CONFIGURATION: Debug
      CONSOLE_FRAMEWORK: net45
      LIB_FRAMEWORK: net45
      TEST_FRAMEWORK: net452
    - CONFIGURATION: Release
      CONSOLE_FRAMEWORK: net45
      TEST_FRAMEWORK: net452
      LIB_FRAMEWORK: net45
    - CONFIGURATION: Debug
      CONSOLE_FRAMEWORK: netcoreapp1.0
      LIB_FRAMEWORK: netstandard1.4
      TEST_FRAMEWORK: netcoreapp1.0
    - CONFIGURATION: Release
      CONSOLE_FRAMEWORK: netcoreapp1.0
      LIB_FRAMEWORK: netstandard1.4
      TEST_FRAMEWORK: netcoreapp1.0

before_build:
  - git submodule update --init --recursive

build_script:
  - ps: |
      if (gcm dotnet -errorAction SilentlyContinue) {
        echo "Using dotnet '$((gcm dotnet).Path)'"
        dotnet --info
      }
      else {
        echo "dotnet.exe not found"
        exit 1
      }

      # Restore Packages
      dotnet restore

      # Build Projects
      dotnet build -c $env:CONFIGURATION -f $env:LIB_FRAMEWORK .\GeoIP2
      dotnet build -c $env:CONFIGURATION -f $env:CONSOLE_FRAMEWORK .\GeoIP2.Benchmark
      dotnet build -c $env:CONFIGURATION -f $env:TEST_FRAMEWORK .\GeoIP2.UnitTests

test_script:
  # Run Benchmark
  - dotnet run -f %CONSOLE_FRAMEWORK% -c %CONFIGURATION% -p GeoIP2.Benchmark/GeoIP2.Benchmark.csproj

  # Run Unit Tests
  - dotnet test -f %TEST_FRAMEWORK% -c %CONFIGURATION% GeoIP2.UnitTests/GeoIP2.UnitTests.csproj

after_test:
  # Run Unit Tests
  - dotnet pack -c %CONFIGURATION% GeoIP2

artifacts:
  - path: 'GeoIP2\bin\**\*.nupkg'

notifications:
  - incoming_webhook:
      secure: 8FZP/RE3nS77Yi5UWOB/DQKCRSJxh/BYrLjVPEAkBG6mRojCz3r2mnla4O/5GwzDr7V6XCpxCP0xo1buCcZRIzRN0ZUWJ5hzEQqW5u7R+vM=
    channel: ci
    on_build_failure: true
    on_build_status_changed: true
    on_build_success: true
    provider: Slack
  - on_build_failure: true
    on_build_status_changed: true
    on_build_success: false
    provider: Email
    subject: 'AppVeyor build {{status}}'
    to:
      - dev-ci@maxmind.com
