<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MaxMind.Db" version="2.1.2" targetFramework="net45" />
  <package id="NUnit" version="3.4.0" targetFramework="net45" />
  <package id="NUnit.ConsoleRunner" version="3.4.1" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net45" />
  <package id="MockHttpSigned" version="1.3.0-netstandard-alpha3" targetFramework="net45" />
  <package id="NSubstitute" version="1.10.0.0" targetFramework="net45" />
</packages>
